<div class="container mat-elevation-z8">
    <h1 class="full-width">Update Request</h1>
    <img class="full-width" src="assets\img\lamp-svgrepo-com.svg" alt="Create Request Image">

    <form class="form">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>RequestID</mat-label>
            <input
            [(ngModel)]="request.id"
            name="id"
            required
            matInput
            placeholder="RequestID"
            readonly>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>ClientID</mat-label>
            <input
            [(ngModel)]="request.clientId"
            name="clientId"
            required
            matInput
            placeholder="ClientID"
            readonly>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>REQUESTED MENU ({{request.requestedMenuName}})</mat-label>
            <mat-select
            [(ngModel)]="request.requestedMenuId"
            name="requestedMenuId">
                <mat-option *ngFor="let menu of menus" value="{{ menu.id }}">{{ menu.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input
            [(ngModel)]="request.requestedQuantity"
            name="requestedQuantity"
            required
            matInput
            mask="separator.0"
            min="0"
            max="99"
            minlength="1"
            maxlength="2"
            (blur)="formatQuantity()"
            placeholder="quantity at most 2 digits">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>REQUEST STATUS ({{decodeStatus(request.requestStatus)}})</mat-label>
            <mat-select
            [(ngModel)]="request.requestStatus"
            name="requestStatus">
                <mat-option value="0">ORDER_RECEIVED</mat-option>
                <mat-option value="1">PREPARING</mat-option>
                <mat-option value="2">READY</mat-option>
                <mat-option value="3">IN_TRANSIT</mat-option>
                <mat-option value="4">DELIVERED</mat-option>
                <mat-option value="5">CANCELLED</mat-option>
            </mat-select>
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>ASSIGNED COURIER ({{request.courierName}})</mat-label>
            <mat-select
            [(ngModel)]="request.courierId"
            name="courierId">
                <mat-option *ngFor="let courier of couriers" value="{{ courier.id }}">{{ courier.name }}</mat-option>
            </mat-select>
        </mat-form-field>

    </form>

    <button (click)="update()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Update</button>
    <button (click)="cancelButton()" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>

    <p class="full-width">by Allan Borges</p>

</div>