<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Restaurant REST Delivery API</mat-card-title>
      <mat-card-subtitle>by Allan Borges</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets\img\restaurant-svgrepo-com.svg" alt="Delivery Image">
    <mat-card-content>
      <p>
        Hello! Welcome to the Restaurant REST Delivery API!<br />
        Online food ordering gives customers the freedom and choice to place an order at virtually any time, from anywhere,
        saving the time and resources typically spent on travelling to pick up a meal. It also gives the customers the advantage
        of reordering the favorite order in the easiest and hassle-free manner.
      </p>
    </mat-card-content>
</mat-card>
  