<div class="container">
    <form class="form mat-elevation-z8">

        <h1>Restaurant Delivery REST API</h1>

        <img src="assets\img\safebox-svgrepo-com.svg" alt="Restaurant Delivery REST API">

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. somebody@mail.com">
        </mat-form-field>
      
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Ex. 123">
          </mat-form-field>

          <button class="full-width mat-elevation-z4" mat-stroked-button color="primary">Primary</button>

    </form>
</div>