<div class="container mat-elevation-z8">
    <form  class="form">
        <h1 class="fullWidth">Delete Menu</h1>
        <img class="fullWidth" src="assets\img\reception-svgrepo-com.svg" alt="RESTaurant API">

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Name</mat-label>
            <input
            [(ngModel)]="menu.name"
            name="name"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Description</mat-label>
            <input
            [(ngModel)]="menu.description"
            name="description"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Price</mat-label>
            <input
            [(ngModel)]="menu.price"
            name="price"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input
            [(ngModel)]="menu.quantity"
            name="quantity"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>ExpireDate</mat-label>
            <input
            [(ngModel)]="menu.expireDate"
            name="expireDate"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Image</mat-label>
            <input
            [(ngModel)]="menu.imageUrl"
            name="imageUrl"
            [disabled]="true"
            matInput>
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <section class="fullWidth" appearance="fill">
            <mat-radio-group class="center-radio-group"
                             [(ngModel)]="menu.active"
                             name="active"
                             [disabled]="true"
                             matInput>
              <mat-radio-button appearance="fill" color="primary" [value]="true">Active</mat-radio-button>
              <mat-radio-button appearance="fill" color="primary" [value]="false">Inactive</mat-radio-button>
            </mat-radio-group>
          </section>

        <button (click)="delete()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Delete</button>
        <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
    </form>
    <p class="fullWidth">by Allan Borges</p>
</div>