<div class="container mat-elevation-z8">
    <h1 class="full-width">Create Request</h1>
    <img class="full-width" src="assets\img\shopping-bag-svgrepo-com.svg" alt="Create Request Image">

    <form class="form">
        
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>ClientID</mat-label>
            <input
            [(ngModel)]="request.clientId"
            name="clientId"
            [formControl]="clientId"
            required
            matInput
            placeholder="ClientID">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Select the Menu</mat-label>
            <mat-select
            [(ngModel)]="request.requestedMenuId"
            name="requestedMenuId"
            [formControl]="requestedMenuId"
            required>
                <mat-option *ngFor="let menu of menus" value="{{ menu.id }}">{{ menu.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input
            [(ngModel)]="request.requestedQuantity"
            name="requestedQuantity"
            [formControl]="requestedQuantity"
            required
            matInput
            mask="separator.0"
            min="0"
            max="99"
            minlength="1"
            maxlength="2"
            (blur)="formatQuantity()"
            placeholder="quantity at most 2 digits">
        </mat-form-field>
      
    </form>

    <button (click)="create()" [disabled]="!validateFields()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Create</button>
    <button routerLink="../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>

    <p class="full-width">by Allan Borges</p>

</div>