<div class="container mat-elevation-z8">
    <form  class="form">
        <h1 class="fullWidth">Update Client</h1>
        <img class="fullWidth" src="assets\img\reception-svgrepo-com.svg" alt="RESTaurant API">

        <section class="section">
            <mat-checkbox (click)="addProfile(0)" class="margin" color="primary">Admin</mat-checkbox>
            <mat-checkbox (click)="addProfile(1)" checked="true" class="margin" color="primary">Client</mat-checkbox>
            <mat-checkbox (click)="addProfile(2)" class="margin" color="primary">Courier</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Name</mat-label>
            <input
            [(ngModel)]="client.name"
            name="name"
            [formControl]="name"
            required
            matInput
            placeholder="your full name"
            maxlength="50">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>NIF</mat-label>
            <input
            [(ngModel)]="client.nif"
            name="nif"
            [formControl]="nif"
            required
            matInput
            placeholder="Ex.. 000000000"
            mask="000000000">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input
            [(ngModel)]="client.email"
            name="email"
            [formControl]="email"
            required
            matInput
            placeholder="your e-mail">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Address</mat-label>
            <input
            [(ngModel)]="client.address"
            name="address"
            [formControl]="address"
            required
            matInput
            placeholder="Ex.. somebody@mail.com">
            <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Password</mat-label>
            <input
            [(ngModel)]="client.password"
            name="password"
            [formControl]="password"
            required
            type="password"
            matInput placeholder="Ex.. 1234">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button (click)="update()" [disabled]="!validateFields()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Update</button>
        <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
    </form>
    <p class="fullWidth">by Allan Borges</p>
</div>